.main-content {
    min-height: calc(100vh - 2rem) !important;
}

.w-right {
    width: 800px;
}

.b-grd {
    background: rgb(249,249,249);
    background: linear-gradient(180deg, rgba(249,249,249,1) 19%, rgba(219,178,178,1) 95%);
}

.w-ft {
    width: 270px;
}

.rat {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

a {
    font-size: 0.88rem;
}

a {
    font-size: 0.88rem;
}